{% extends 'base.html' %}

{% block content %}

<section class='auth-wrapper'>

    <div class='auth-card large-auth-card'>

        <p class='eyebrow'>That Corporate Flow</p>

        <h2>Create Account</h2>

        <p class='auth-text'>
            Create a corporate workspace account.
        </p>

        <form method='post'>

            {% csrf_token %}

            <div class='form-grid'>

                {% for field in form %}

                    <div class='form-group'>

                        {{ field.label_tag }}

                        {{ field }}

                        {% if field.errors %}
                            <div class='field-error'>
                                {{ field.errors }}
                            </div>
                        {% endif %}

                    </div>

                {% endfor %}

            </div>

            <button class='btn primary auth-btn' type='submit'>
                Create Account
            </button>

        </form>

        <div class='auth-footer'>
            <p>
                Already have an account?
                <a href='{% url "login" %}'>Login</a>
            </p>
        </div>

    </div>

</section>

{% endblock %}
